@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --POP_SYMBOL_SHOW_TIME_MS: 1000ms;
}

body {
  background-color: black;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

@keyframes clickpop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
.e-pop-obj {
  opacity: 0;
  animation: clickpop var(--POP_SYMBOL_SHOW_TIME_MS);
}

.e-bg-wav {
  background: linear-gradient(135deg, #420 0%, #000 50%, #240 100%);
  background-size: 200% 200%;
  animation: e-wav-grad 45s ease infinite;
}

@keyframes e-wav-grad {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
